/* Bootstrap Breakpoints
==========================================================
||  .col- (width less than 576px)                       ||
||  .col-sm- (width equal to or greater than 576px)     ||
||  .col-md- (width equal to or greater than 768px)     ||
||  .col-lg- (width equal to or greater than 992px)     ||
||  .col-xl- (width equal to or greater than 1200px)    ||
=========================================================
/*

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/* Mixins */
@mixin zero-margin-zero-padding-width
{
    margin:0px auto;
    padding-left:0;
    padding-right:0;
    max-width:1720px;
}

/* Variables */
/* Typography*/
$bold:700;
$regular:400;
/* Breakpoints */
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
/* Colors */
$myCyan:rgb(0, 204, 255);

.padding {
    padding-top:95px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
    @media only screen and (min-width:$sm)  {
        padding-top:70px;
        padding-right:20px;
        padding-left:20px;
        padding-bottom:20px;
    }
    @media only screen and (min-width:$md)  {
        padding-top:90px;
        padding-right:40px;
        padding-left:40px;
        padding-bottom:20px;
    }
    @media only screen and (min-width:$lg)  {
        padding-top:120px;
        padding-right:100px;
        padding-left:100px;
        padding-bottom:100px;
    }
    @media only screen and (min-width:$xl)  {
        
    }
   
}



html,body {
    /*
    
    
    margin:0 auto;
    padding:0;
    */
    overflow-x:none !important;
    font-family: 'Lato', sans-serif;
    color:#505962;
    width:100%;
    min-height:100vh;
}

/* No Gutters */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


/* Navbar */
.navbar {
    font-family: 'Lato', sans-serif;
    font-weight:$bold;
    text-transform: uppercase;
    font-size:1rem;
    letter-spacing: 0.1rem;
    background:rgba(0, 0, 0, 0.6) !important;
    
    #navContainer{
        max-width:1720px;
    }
    
    padding: 30px 40px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    .navbar-brand {
        img {
            max-height:2rem;     
        }
    }
    .navbar-nav {
        .nav-link {
            color:white; 
            padding-right:0.7rem; 
            padding-top:0.9rem;        
        }
        .nav-link.active {
            color: #1ebba3;
        }       
        .nav-link:hover {
            color:#1ebba3;
        }
    }
    
}
/* Navbar-toggler Color */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Modals */
.modal {
    max-height: 100vh;
    .modal-dialog {
        h5 {
            font-weight:700;
        }
        .modal-content {

            .modal-body {
              max-height: calc(80vh - 140px);
              overflow-y: auto;
            }
        }        
        p {
                
            font-size:110%;
        }
    }

    @media only screen and (max-width:$lg)  {
        img {
            padding-right:20px;
            padding-left:20px;
            max-width:100%;
        }

    }
}



/* Landing Page */
#home {
    background:url(../img/background.png) no-repeat center center fixed;
    display:table;
    height:100vh;
    position:relative;
    width:100%;
    background-size:cover;
  
    .home-text {
        display:table-cell;
        vertical-align:middle;
        h1 {
            font-weight:$bold;
            font-size:250%;
            color:white;
            padding-bottom:20px;


        }
        h3 {
            font-weight:$regular;
            font-size:250%;
            color:white;
            padding-bottom:30px;

        }

        a {
            color:rgb(0, 190, 238);
            font-weight:$bold;
        }
        .btn-outline-primary {
            color:$myCyan;
            border-color:$myCyan;
           
        }
        span {
            color:orange;
        }
        @media only screen and (min-width:$md)  {
            h1 {
                font-weight:$bold;
                font-size:250%;
                color:white;
                padding-right:30px;
                padding-left:30px; 
            }
            h3 {
                font-weight:$regular;
                font-size:200%;
                color:white;
            }
            .btn-outline-primary {
                font-size:90%;
               
            }
        }
        @media only screen and (min-width:$lg)  {
            h1 {
                font-weight:$bold;
                font-size:500%;
                color:white;
                padding-right:30px;
                padding-left:30px; 
            }
            h3 {
                font-weight:$regular;
                font-size:400%;
                color:white;
            }
            .btn-outline-primary {
                font-size:160%;
               
            }
        }
       
        
    }
}
/* End of Section */

/* Portfolio Section */
#portfolio {
    
    .container-fluid{
    max-width:1720px;
    }
    
    img {
        height:auto;
        max-width:100%;
        
    }
       
    
    .portfolio-text{
        h1 {
            padding-top:20px;
            font-weight:$bold;
            font-size:250%;
        }
        h3 {
            padding-top:20px;
            font-size:150%;
        }  
        @media only screen and (min-width:$md)  {
            h1 {
                padding-top:20px;
                font-weight:$bold;
                font-size:250%;
            }
            h3 {
                padding-top:20px;
                font-size:150%;
            }
        }
        @media only screen and (min-width:$lg)  {
            h1 {
                padding-top:20px;
                font-weight:$bold;
                font-size:400%;
            }
            h3 {
                padding-top:20px;
                font-size:200%;
            }
        }
        
    }
    
}
/* End of Section */

/* About Section */
#about{
    background:url(../img/background.png) no-repeat center center fixed;
    display:table;
    height:100vh;
    position:relative;
    width:100%;
    background-size:cover;
    color:white;
    
    .container-fluid {
        max-width:1720px;
    }

    img {
        padding-top:20px;
        padding-bottom:20px;
        max-width:120px;
    }

   

    .about-text {
       @include zero-margin-zero-padding-width();
      
    }
    h1 {
        
        font-weight:$bold;
        font-size:250%; 
    }
    h3 {
        font-size:180%;
    }
    h4 {
        font-size:160%;
        padding-top:45px;
        line-height: 130%;
    }
    h5 {
        padding-top:30px;
        font-size:130%;
        color:rgb(0, 204, 255);
    }
    h6 {
        padding-top:25px;
        font-size:130%;
    
    }
    p {
        font-size:160%;
        line-height: 130%;
        padding-top:20px;
        
    }
    span {
        font-size:85%;
    }

    #skills {
        letter-spacing: 3px;
        max-width:1720px;
    }
    
    span {
        color: $myCyan;
    }

    
    @media only screen and (max-width:$md) {
        text-align:center;
    }
    @media only screen and (min-width:$md)  {
        
        img {
            max-width:150px;
            
        }

        h1 {
            font-weight:$bold;
            font-size:350%; 
        }
        h3 {
            font-size:180%;
            padding-top:70px;
            line-height: 120%;
        }
        h5 {
            padding-top:35px;
            font-size:140%;
            color:rgb(0, 204, 255);
        }
        h6 {
            padding-top:50px;
            font-size:140%;
        
        }
        p {
            font-size:180%;
            line-height: 120%;
            padding-top:40px;
            
        }
        span {
            font-size:85%;
        }
    
        #skills {
            letter-spacing: 3px;
            max-width:1720px;
        }
    }
    @media only screen and (min-width:$lg)  {
        
        img {
            max-width:250px;
            
        }

        h1 {
            font-weight:$bold;
            font-size:350%; 
        }
        h3 {
            font-size:300%;
            padding-top:70px;
            line-height: 120%;
        }
        h5 {
            padding-top:35px;
            font-size:140%;
            color:rgb(0, 204, 255);
        }
        h6 {
            padding-top:50px;
            font-size:140%;
        
        }
        p {
            font-size:200%;
            line-height: 175%;
            padding-top:60px;
            
        }
        span {
            font-size:85%;
        }
    
        #skills {
            letter-spacing: 3px;
            max-width:1720px;
        }
    }


  
}
/* End of Section */

/* Spacer Class */
.spacer {
    padding:40px;
}

/* Contact Section */
#contact {
    
    margin:0px auto;
    max-width:1720px;
    min-height:80vh;
    .contact-text {
        h1{
        font-weight:$bold;
        font-size:400%;
        padding-top:25px;
        }
        @media only screen and (min-width:$md)  {
            font-weight:$bold;
            font-size:100%
        }
    }

    form { 
       #message {
           min-height:180px;
           
           @media only screen and (min-width:$md)  {
            min-height:135px;
        }
       }
        
    }
    
}
/* End of Section */ 

/* Footer Section */
.padding-footer{
    padding-top:20px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}


footer {
    

    h5 {
        color:orange;
    }

    /* Copyright */
    .copyright-text {
        color:floralwhite;  
        
    }

    /* a Elements */
    a  {
        color: floralwhite;
    }

    /* Footer Background Color */
    background-color:rgb(27, 27, 27);
    
    span {
        color:$myCyan;
    }
    
}




